@import "global";

//========================<header>=============================
.header {

    &__container {
        display: flex;
        min-height: 116px;
        align-items: center;
        position: relative;
    }

    &__logo {
        margin-right: 150px;
        
    }

    &__logo-item {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: $primary;
    }

    &__right-side {
        display: flex;
        align-items: center;
        margin-left: auto;
        max-width: 800px;
        width: 100%;
        justify-content: space-between;
        gap: 40px;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__reg-button {
        color: $primary;
    }

    &__reg-button--green {
        color: white;
    }
}

.menu {

    &__icon {}

    &__body {
        display: flex;
        align-items: center;

    }

    &__list {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    &__item {}

    &__link {
        color: $primary;
        position: relative;
        padding-bottom: 5px;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 50%;
            height: 3px;
            background-color: #066F14;
            transform: scaleX(0);
            transform-origin: bottom left;

            transition: transform 0.3s;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            left: 50%;
            height: 3px;
            background-color: #066F14;
            transform: scaleX(0);
            transform-origin: bottom right;

            transition: transform 0.3s;
        }

        &:hover {
            &:before {
                transform: scaleX(1);
            }

            &:after {
                transform: scaleX(1);
            }
        }
    }
}

@media (max-width:920px) {
    .header__logo {
        margin-right: 0;
    }

    .header__right-side {
        flex-direction: row-reverse;
        justify-content: end;
    }

    .menu__icon {
        display: block;
        width: 25px;
        height: 18px;
        position: relative;
        z-index: 10;
        cursor: pointer;

        span {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
            transition: all 0.3s;

            &:first-child {
                top: 0;
                transform: translateY(0);
            }

            &:last-child {
                top: auto;
                bottom: 0;
                transform: translateY(0);
            }
        }

        &.active {

            span {
                transition: all 0.3s;
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    .menu__body {
        position: absolute;
        top: 0;
        right: -1000%;
        min-height: 100vh;
        width: 90%;
        background-color: white;
        z-index: 2;
        transition: all .3s;

        &.active {
            right: -65px;
        }
    }

    .menu__list {
        flex-direction: column;
        padding: 50px 30px;
        gap: 70px;
    }

    .menu__link {
        font-size: 22px;
    }

    // ============BODY LOCK==========
    .lock {
        overflow: hidden;
    }

}

@media (max-width:500px) {
    .header__buttons {
        gap: 15px;
    }
}

//========================</header>============================

//========================<top>================================
.top {

    &__container {
        margin-top: 40px;
        display: flex;
    }

    &__info {
        max-width: 548px;
        position: relative;
        overflow: visible;

        &::after {
            position: absolute;
            content: '';
            right: -70px;
            bottom: 130px;
            height: 220px;
            width: 190px;
            background-image: url(../img/leafs-top.png);

        }
    }

    &__title {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 72px;
        line-height: 92px;
        color: #1A1A1A;
        margin-bottom: 24px;
    }

    &__subtitle {
        margin-bottom: 56px;
    }

    &__info-items {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 76px;
        max-width: 548px;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__info-item {
        text-align: center;
    }

    &__info-item-number {
        font-family: 'Nunito';
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        color: #001B04;

    }

    &__info-item-name {
        font-size: 18px;
        color: $primary;
    }

    &__img {
        max-width: 557px;
        width: 100%;

        margin-left: 50px;
        margin-top: -30px;

    }

    &__img-item {
        width: 100%;
        object-fit: cover;

    }
}

@media (max-width:920px) {
    .top__container {
        flex-direction: column;
    }

    .top__img {
        max-width: 100%;
        margin: 0;
    }

    .top__info {
        &::after {
            display: none;
        }
    }
}

@media (max-width:400px) {
    .top__title {
        font-size: 60px;
        line-height: 74px;
    }
}

//========================</top>================================

//========================<collection>=================================
.collection {

    &__container {
        margin-top: 140px;
        display: flex;

    }

    &__info {
        max-width: 420px;
    }

    &__title {
        margin-bottom: 37px;
    }

    &__all {
        font-size: 18px;
        color: $text-color;
        position: relative;
        overflow: visible;

        &::after {
            position: absolute;
            top: 28%;
            right: -30px;
            content: '';
            width: 17px;
            height: 12px;
            background-image: url(../img/right-arrow.svg);

            &:hover {
                right: -30px;
            }
        }

    }

    &__images {
        display: flex;
        gap: 24px;
        margin-left: auto;
    }

    &__img {
        max-width: 215px;
        max-height: 207px;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width:1170px) {
    .collection__container {
        flex-direction: column;
    }

    .collection__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0;
        margin-left: 0;
        margin-top: 20px;
    }
}


//========================</collection>================================


//========================<about-box>==================================
.about-box {

    &__container {
        display: flex;
        margin-top: 128px;
        margin-bottom: 128px;
    }

    &__img {
        max-height: 440px;
        max-width: 446px;
        object-fit: cover;
        margin-left: 90px;
        margin-top: 40px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: -9%;
            left: -17%;
            height: 100%;
            width: 100%;
            background: #066F14;
            z-index: -1;
        }
    }

    &__img-item {
        width: 100%;

    }

    &__info {
        max-width: 504px;
        margin-left: auto;
    }

    &__caption {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #066F14;
    }

    &__title {
        margin-top: 12px;
        margin-bottom: 24px;
    }

    &__subtitle {
        margin-bottom: 16px;
    }

    &__subtitle--dark {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 18px;
        color: #4A4A4A;
    }
}

@media (max-width:1080px) {
    .about-box__container {
        flex-direction: column-reverse;
    }

    .about-box__info {
        max-width: 700px;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .about-box__img {
        margin-left: 0;
    }
}

//========================</about-box>=================================

//========================<product>====================================
.product {

    &__container {
        text-align: center;
        margin-bottom: 128px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__buttons {
        margin-bottom: 48px;
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: center;
    }

    &__btn {
        font-weight: 500;
        color: $text-color;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__item-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        gap: 20px;
    }

    &__item {
        width: 270px;
        height: 283px;
        text-align: left;
        background-color: #E2ECE4;
        display: inline-block;
        padding: 4px 29px 32px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__item-img {
        margin: auto;
        display: block;
        max-height: 153px;
        object-fit: cover;

    }

    &__item-title {
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: $primary;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    &__item-rating {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__item-price {
        font-family: 'Nunito';
        font-weight: 600;
        line-height: 19px;
        color: $primary;
        margin-top: 12px;
    }

    &__item--pink {
        background-color: #F0EBE6;
    }

}

.mixitup-control-active {
    color: #066F14;
    font-size: 18px;
    line-height: 23px;
}

@media (max-width:1180px) {
    .product__item-container {
        overflow-x: scroll;
    }
}

//========================</product>===================================

//========================<reviews>===================================
.reviews {
    text-align: left;

    &__container {
        display: flex;

    }

    &__info-text {
        max-width: 502px;
    }

    &__title {
        margin-bottom: 13px;
    }


    &__img {
        max-width: 602px;
    }

    &__img-item {
        margin-left: -50px;
        z-index: -1;
        object-fit: cover;
        width: 100%;
    }
}

.reviews-comment {
    background-color: #066F14;
    max-width: 597px;
    width: 100%;
    margin: 43px 0 0;

    &__item {
        width: 100%;
        padding: 20px 32px;
        position: relative;

        &::after {
            position: absolute;
            top: 16px;
            right: 24px;
            content: '';
            width: 40px;
            height: 40px;
            background-image: url(../img/comment-quotes.png);
            background-repeat: no-repeat;
        }
    }

    &__item-top {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__item-name {
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    &__item-profession {
        font-size: 14px;
        line-height: 18px;
        color: #D9D9D9;
        margin-top: 6px;
    }

    &__item-text {
        color: #ECECEC;
        margin-top: 16px;
    }

}

.reviews-button-prev {
    position: absolute;
    bottom: 0;
    right: 25px;
    z-index: 100;
    cursor: pointer;
}

.reviews-button-next {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
}

@media (max-width:990px) {
    .reviews__container {
        display: flex;
        flex-direction: column;
    }

    .reviews__img-item {
        margin-left: 0;
        margin-top: 10px;
    }
}

//========================</reviews>===================================

//========================<subscribe>====================================
.subscribe {

    &__container-fluid {
        max-width: 1040px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 160px;
        background: #DFFFE3;
        border-radius: 6px;
    }

    &__info-text {
        margin: 60px;
        max-width: 480px;
    }

    &__title {}

    &__subtitle {
        margin-top: 12px;
        margin-bottom: 30px;
    }

    &__input-form {
        position: relative;
    }

    &__email {
        max-width: 451px;
        min-height: 56px;
        width: 100%;
        padding: 8px 8px 8px 20px;
        background: #FFFFFF;
        border-radius: 4px;
        position: relative;
        font-size: 14px;
        line-height: 18px;
        color: #5A5A5A;
        border: none;
    }

    &__input-button {
        position: absolute;
        top: 14%;
        right: 8%;
        padding: 11px 16px;
        background: #066F14;
        border-radius: 4px;
        font-size: 14px;
        line-height: 18px;
        color: #FEFEFE;
        border: none;
        cursor: pointer;

        &:active {
            transition: all .2s linear;
            transform: scale(1.1);
        }
    }

    &__img-decor {}

    &__img {
        margin-top: -36px;
        width: 100%;
    }


}

@media (max-width:710px) {

    .subscribe__container-fluid {
        margin-top: 100px;
        flex-direction: column;
    }

    .subscribe__info-text {
        margin: 60px 0;
        max-width: 480px;
    }
}

//========================</subscribe>===================================

//========================<follow>====================================
.follow {

    &__container {
        margin-bottom: 128px;
        margin-top: 80px;
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        max-width: 554px;
        margin: 12px auto 32px;
        text-align: center;
    }

    &__img-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
    }

    &__img-block {
        max-width: 230px;
        max-height: 240px;
        position: relative;
    }

    &__img-item {
        width: 230px;
        height: 240px;
        object-fit: cover;
    }

    &__img-insta {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.34);
        transition: all 0.2s linear;

        &:hover {
            transition: all 0.2s linear;
            opacity: 1;
        }
    }

    &__img-insta-item {}
}

//========================</follow>===================================


.footer {

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 40px;
    }

    &__left-box {
        max-width: 306px;
    }

    &__logo {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: $primary;

    }

    &__text {
        margin: 23px 0;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__social-item {}

    &__social-link {
        transform: rotate(-360deg);
        transition: 1s;

        &:hover {
            transition: 0.7s;
            opacity: 0.5;
            transform: rotate(360deg) scale(1.2);
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        max-width: 645px;
        width: 100%;
        gap: 30px;
    }

    &__menu-column {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__menu-item {}

    &__menu-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: $primary;
        margin-bottom: 24px;
    }

    &__menu-link {
        color: #5A5A5A;
        position: relative;
        transition: 0.2s;

        &:hover {
            display: block;
            transition: 0.2s;
            color: #066F14;
            transform: scale(1.1);
        }
    }
}

@media (max-width:750px) {
    .footer__container {
        flex-direction: column;
    }

    .footer__menu {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}